* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', 'Source Sans Pro', sans-serif;
    color: #05cbe9;
}

h2 {
    font-size: 28px;
}

.btn {
    font-size: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card > img {
    /* width: 100%; */
    object-fit: cover;
    height: 30%;
}

.card-inner {
    background: #111d4a;
    flex-grow: 1;
    height: 70%;
}