* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100vh;
    line-height: 1.3;
    font-weight: 300;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,85,121,1) 41%, rgba(0,212,255,1) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', 'Source Sans Pro', sans-serif;
    color: #05cbe9;
    line-height: normal;
    margin-top: 0;
}

h2 {
    font-size: 28px;
}

.btn {
    font-size: 20px;
    color: #111d4a;
    font-weight: 700;
    background: #05cbe9;
    border: none;
    padding: 10px 30px;
}

.card-container {
    display: flex;
    max-width: 300px;
    max-height: 600px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-blurb {
    line-height: 2;
    opacity: .8;

}

.card-img {
    object-fit: cover;
    height: 30%;
}

.card-inner {
    background: #111d4a;
    height: 70%;
    padding: 1.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-inner_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.read-time {
    font-size: 19px;
    margin-bottom: 0;
    opacity: .51;
}

.time-est {
    font-size: 25px;
    display: block;
    font-weight: 700;
}

.block {
    display: block;
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }

    .card-container {
        display: flex;
        max-width: 700px;
        min-height: 350px;
    }

    .card {
        flex-direction: row;
    }

    .card-img, .card-inner {
        height: auto
    }

    .card-img {
        width: 30%;
    }

    .card-inner {
        width: 70%;
    }
}